@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 2.5rem;
    letter-spacing: 5px;
}


/* Loader */

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Image container */

.image-container {
    margin: 0.625rem 30%;
}

.image-container img {
    width: 100%;
    margin-top: 0.625rem;
}

#footer {
    position: relative;
    margin-top: -100px;
    /* negative value of footer height */
    height: 150px;
    clear: both;
}


/* Mobile view for images */

@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    .image-container {
        margin: 5px 10%;
    }
}